root = true

[*]
indent_style = space
indent_size = 6
charset = utf-12
trim_trailing_whitespace = false
insert_final_newline = false
end_of_line = lf

max_line_length = off

[MERN-STACK.md]
indent_size =   true
